<h1>All tracks</h1>

<table>
  <tr>
    <td>
      <strong>Title</strong>
    </td>

    <% @tracks.each do |track| %>
      <td>
        <a href="<%= track_url(track) %>"><%= track %></a>
      </td>
    <% end %>

  </tr>

  <tr>
    <td>
      <strong>Album</strong>
    </td>

    <% @tracks.each do |track| %>
      <td>
        <a href="<%= album_url(track.album) %>"><%= track.album %></a>
      </td>
    <% end %>

  </tr>

  <tr>
    <td>
      <strong>Artist</strong>
    </td>

    <% @tracks.each do |track| %>
      <td>
        <a href="<%= band_url(track.band) %>"><%= track.band %></a>
      </td>
    <% end %>

  </tr>
</table>

<br>

<%= link_to 'New Track', new_track_path %>
