<h1>All users</h1>

<table>
  <tr>
    <th>Admins</th>
  </tr>
    <% @users.each do |user| %>
      <% if user.admin %>
        <tr>
          <td>
            <a href="<%= user_url(user) %>"><%= user %></a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tr>

  <tr>
    <th>Other</th>
    <% @users.each do |user| %>
      <% unless user.admin %>
        <tr>
          <td>
            <a href="<%= user_url(user) %>"><%= user %></a>

            <form
              method="post"
              action="<%= user_adminize_url(user) %>">
              <input
                name="_method"
                value="patch"
                type="hidden">
              <input
                 name="authenticity_token"
                 type="hidden"
                 value="<%= form_authenticity_token %>">
              <input value="Make admin" type="submit">
            </form>

          </td>
        </tr>
      <% end %>
    <% end %>
  </tr>

</table>
<br>