<h1>Viewing account for <%= @user %></h1>

<table>
  <tr>
    <td>
      <strong>E-mail address:</strong>
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Notes:</strong>
    </td>

    <% @user.notes.each do |note| %>
      <td>
        <a href="<%= track_note_url(note.track_id, note.id) %>"><%= note %></a>
      </td>
    <% end %>
  </tr>
</table>

<form
  method="post"
  action="<%= user_url(@user) %>">
  <input
    name="_method"
    value="delete"
    type="hidden">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input value="Delete user account" type="submit">
</form>

<a href="<%= edit_user_url(@user) %>">Edit <%= @user %></a>
<a href="<%= users_url %>">All users</a>
