<h1>All albums</h1>

<table>
  <tr>
    <td>
      <strong>Title</strong>
    </td>

    <% @albums.each do |album| %>
      <td>
        <a href="<%= album_url(album) %>"><%= album %></a>
      </td>
    <% end %>

  </tr>

  <tr>
    <td>
      <strong>Release Year</strong>
    </td>

    <% @albums.each do |album| %>
      <td>
        <%= album.release_year %>
      </td>
    <% end %>

  </tr>

  <tr>
    <td>
      <strong>Artist</strong>
    </td>

    <% @albums.each do |album| %>
      <td>
        <a href="<%= band_url(album.band) %>"><%= album.band %></a>
      </td>
    <% end %>

  </tr>
</table>

<br>

<a href="<%= new_album_url %>">New Album</a>
