<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>
      <strong>Title:</strong>
    </td>
    <td>
      <%= @album.title %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Band:</strong>
    </td>
    <td>
      <a href="<%= band_url(@album.band) %>"><%= @album.band %></a>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Release Year:</strong>
    </td>
    <td>
      <%= @album.release_year %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Tracks:</strong>
    </td>

    <% @album.tracks.each do |track| %>
      <td>
        <a href="<%= track_url(track) %>"><%= track %></a>
      </td>
    <% end %>
    <td>
      <a href="<%= new_track_url(track: {album_id: @album.id}) %>">New Track</a>
    </td>
  </tr>
</table>

<form
  method="post"
  action="<%= album_url(@album) %>">
  <input
    name="_method"
    value="delete"
    type="hidden">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input value="Delete <%= @album %>" type="submit">
</form>

<a href="<%= edit_album_url(@album) %>">Edit <%= @album %></a>
<a href="<%= albums_url %>">All albums</a>
