<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>
      <strong>Name:</strong>
    </td>
    <td>
      <%= @band.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Albums:</strong>
    </td>

    <% @band.albums.each do |album| %>
      <td>
        <a href="<%= album_url(album) %>"><%= album %></a>
      </td>
    <% end %>
    <td>
      <a href="<%= new_album_url(band_id: @band.id) %>">New Album</a>
    </td>
  </tr>
</table>

<form
  method="post"
  action="<%= band_url(@band) %>">
  <input
    name="_method"
    value="delete"
    type="hidden">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input value="Delete Band" type="submit">
</form>

<a href="<%= edit_band_url(@band) %>">Edit <%= @band %></a>
<a href="<%= bands_url %>">All bands</a>
